################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MDCStoreImage/v16

/MDCStorageImageLib/Win32
/MDCStorageImageLib/x64
/MDCStorageImageLib/Debug
/MDCStorageImageExe/bin/Release
